body {
  background-color: transparent; 
  margin: 0;
  font-family: 'Arial Black', sans-serif; 
  color: #00BFFF; /* Color base para TODO el texto: Azul brillante */
  font-size: 42px; 
  font-weight: 900; 
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8); /* Sombra oscura para contraste */
}

/* Regla para que el texto y el precio dentro de esta clase sean BLANCOS */
.precio-blanco {
    color: #FFFFFF; /* Color Blanco puro */
}

.ticker-container {
  overflow: hidden; 
  white-space: nowrap; /* Mantiene el texto en una sola línea */
  width: 100vw; 
  height: 100vh;
}

.ticker-item {
  display: inline-block;
  padding-left: 100%; /* El texto comienza totalmente fuera de la pantalla */
  line-height: 1.5;
  /* ANIMACIÓN: Cambia "20s" (segundos) por un número menor para que sea más rápido 
    o por un número mayor para que sea más lento.
  */
  animation: marquee 20s linear infinite; 
}

/* Definición del movimiento de desplazamiento */
@keyframes marquee {
  0%   { transform: translate(0, 0); } 
  100% { transform: translate(-100%, 0); }

}

.robux-icon {
    height: 40px; /* Tamaño del logo. Ajusta este valor (ej: 35px o 45px) */
    vertical-align: middle; /* Alinea el logo verticalmente con el texto */
    margin: 0 5px 0 5px; /* Pequeño margen alrededor del logo */

}

